@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
body{
  position: relative;
}


.wrap {
  min-height: 100%;
  margin: auto;
}

.wrap [rel="main"] {
  padding-bottom: 100px;
}

.card {
  width: 308px;
  height: 366px;
}

.imgg {
  left: -1.61%;
  right: -1.61%;
  width: inherit;
  height: 236px;
}

.restname {
  margin-top: 16px;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
}

.itemname {
  margin-top: -12px;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.deliverytime {
  margin-top: -12px;
  background-color: white;
  left: 0%;
  right: 0%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footercolumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: 39px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-12 {
  flex-basis: 100%;
}

.container {
  width: 976px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants {
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  height: 34px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 22px;
  color: #1D1D1D;
  border-top: 1px solid #757575;
  padding-top: 56px;
  opacity: 30%;
}

.search {
  display: flex;
  flex-wrap: row;
  padding-top: 79px;
}

.searchTerm {
  float: left;
  width: 100%;
  padding: 5px;
  height: 20px;
  border: 1px solid transparent;
  position: relative;
  float: left;
}

input {
  width: 223px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #626262;
  opacity: 0.5;
}

.searchButton {
  height: 22px;
  width: 22px;
  margin-right: 10px;
  margin-left: 2px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}

header {
  height: 72px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}

.headerc {}

.logo {
  margin-top: 30px;
  margin-left: 8px;
}

.logofooter {
  height: 20px;
  margin-top: 56px;
  margin-bottom: 41px;
  box-sizing: border-box;
  margin-left: -8px;
}

.border {
  border-bottom: 1px solid #757575;
  margin-left: 8px;
  margin-right: 8px;
}

.empty {
  width: 70px;
  height: 40px;
  box-sizing: border-box;
  margin-top: 15px;
}

.asapcont {
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  margin-top: 15px;
}

.asaptext {
  width: 65px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

.signincont {
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  margin-top: 15px;
  display: table;
}

.signintext {
  width: 80px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  color: #1D1D1D;
}

.registercont {
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  margin-top: 15px;
  display: table;
  background-color: #262626;
}

.registertext {
  width: 80px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  color: #FFFFFF;
}

.basketcont {
  padding-top: 22px;
  width: 19px;
  height: 22px;
}

.basket {
  width: 19px;
  height: 22px;
  margin-left: 17px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.to {
  width: 14px;
  height: 19px;
  left: 398px;
  top: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  color: #626262;
  margin-top: 30px;
}

.adresscont {
  width: 296px;
  height: 40px;
  left: 421px;
  top: 17px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 15px;
}

.groupcont {
  width: 36px;
  height: 40px;
}

.groupimg {
  width: 12px;
  height: 15px;
  margin-left: 12px;
  margin-top: 12px;
}

.adress {
  width: 184px;
  height: 40px;
  left: 457px;
  top: 25px;
  text-align: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  display: table;
  color: #1D1D1D;
}

.adresstext {
  display: table-cell;
  vertical-align: middle;
}

footer {
  margin: 0 auto;
  margin-left: -8px;
  margin-right: -8px;
  background: #262626;
  box-sizing: border-box;
  
  
}

.footerrowtext {
  font-family: Roboto;
  font-style: regular;
  font-size: 13px;
  line-height: 27px;
  text-align: Left;
  fill: Solid;
  color: #FFFFFF;
}

.badge {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 42px;
  margin-bottom: 40px;
}

.badgespace {
  margin-right: 41px;
}

.footerbottomcontainer {
  margin-top: 25px;
}

.langselector {
  height: 40px;
  width: 227px;
  background-color: #3B3B3B;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-left: -8px;
}

.langcont {
  width: 48px;
  height: 40px;
}

.globe {
  margin-left: 24px;
  margin-top: 12px;
  height: auto;
  width: auto;
}

.language {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  text-align: Left;
  width: 100px;
}

.langbuttonicon {
  margin-left: 50px;
  margin-top: 16px;
}

.social {
  width: 92px;
  height: 145px;
  margin-left: -8px;
}

.socialimg {
  height: 60px;
  width: 92px;
  display: block;
  margin-top: 33px;
}

.bord {
  margin-top: 39px;
}

.center {
  margin-left: -4px;
}

.rowcont {
  height: 220px;
}